body{
    background-image: linear-gradient(black, gray);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#box{
    width:250px;
    height:250px;
    background-color: hsl(0, 100%, 50%);
    font-size: 13em;
    text-align: center;
    opacity: 1;
}

#box:hover{
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
    animation-play-state:running;
    animation-timing-function: ease-in-out;
}

@keyframes slideleft{
    from{transform: translateX(300%)
    }
}

@keyframes slideright{
    to{transform: translateX(300%)
    }
}

@keyframes slideup{
    from{transform: translateY(300%)
    }
}

@keyframes slidedown{
    to{transform: translateY(300%)
    }
}

@keyframes rotate{
    20%{transform: rotateZ(360deg)
    }
}

@keyframes grow{
    50%{transform: scale(2,2)}
}

@keyframes shrink{
    50%{transform:scale(.5,.5)}
}

@keyframes fade{
    100%{opacity: 1}
}

@keyframes colorChange{
    0%{background-color:  hsl(0, 100%, 50%)}
    20%{background-color: blueviolet;}
    40%{background-color: blanchedalmond;}
    60%{background-color: aquamarine;}
    80%{background-color: brown;}
    100%{background-color: black;}
}

@keyframes glow{
    50%{box-shadow: 0px 0px 100px purple}
}